.login {
  min-height: 100dvh;
  /* background: url(/background.png) no-repeat; */
  background: 
  /* linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.52),
      rgba(1, 1, 231, 0.5),
      rgba(52, 7, 253, 0.73)
    ), */ linear-gradient(
      /* rgba(3, 20, 253, 0.52),
      rgba(0, 0, 248, 0.5),
      rgba(1, 1, 231, 0.5),
      rgba(18, 2, 243, 0.49) */
        rgba(3, 20, 253, 0.52),
      rgba(2, 17, 228, 0.5),
      rgba(4, 4, 207, 0.5),
      rgba(18, 2, 243, 0.49)
    ),
    url("/public/BackgroundImg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
}
.login .logo {
  width: max(20vw, 200px);
}

.login-form {
  background: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.login-form h2 {
  font-weight: 500;
}
.form-input {
  padding: 8px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline-color: #077eff;
}
.login-form button {
  padding: 10px;
  background-color: #077eff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-term {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: #808080;
}
.login-toggle {
  font-size: 13px;
  color: #5c5c5c;
}
.login-toggle span {
  font-weight: 500;
  color: #077eff;
  cursor: pointer;
}
.login-forgot {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 768px) {
  .login {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
